<!--views/users/login.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>User login</h1>
    <form method="post" action="/login">
      <input type="text" name="user[email]" placeholder="Email"><br />
      <input type="password" name="user[password]" placeholder="Password">
      <br />
      <br />
      <button>Save </button>
    </form>
  </body>
</html>