<!--views/users/signup.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add a User</h1>
    <form method="post" action="/users">
      <input type="text" name="user[email]" placeholder="Email"><br />
      <input type="password" name="user[password]" placeholder="Password">
      <br />
      <br />
      <button>Save </button>
    </form>
  </body>
</html>